[Desktop Entry]
Name=Pling-Store
Exec=/home/{{ ansible_user }}/AppImage/pling-store.AppImage
Icon=pling-store
Type=Application
Terminal=false
NoDisplay=false
Categories=Network;Settings;
X-AppImage-Version=5.0.2
